<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Lista de Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" padding="true" >
  <div class="content-wrapper">
  <ion-button expand="full" routerLink="/lobby">Regresar al Inicio</ion-button>
 
  <ion-item>
    <ion-label position="stacked">Nombre del cliente</ion-label>
    <ion-input [(ngModel)]="cliente.nombre"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Dirección</ion-label>
    <ion-input [(ngModel)]="cliente.direccion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Teléfono</ion-label>
    <ion-input type="number" [(ngModel)]="cliente.telefono"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Correo</ion-label>
    <ion-input [(ngModel)]="cliente.correo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">URL de imagen del cliente</ion-label>
    <ion-input [(ngModel)]="cliente.imagenUrl"></ion-input>
  </ion-item>

  <ion-button expand="block" color="danger" (click)="agregarCliente()">
    {{ isEditing ? 'Editar cliente' : 'Agregar cliente' }}
  </ion-button>

  <ion-list>
    <ion-card *ngFor="let cliente of clientes; let i = index ">
      <ion-card-header>
        <ion-card-title>{{ cliente.nombre }}</ion-card-title>
        <ion-card-subtitle>Dirección: {{ cliente.direccion }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Teléfono: {{ cliente.telefono }}</p>
        <p>Correo: {{ cliente.correo }}</p>
        <img [src]="cliente.imagenUrl" alt="Imagen del cliente" width="100" height="100">
      </ion-card-content>
      <ion-button color="danger" (click)="eliminarCliente(i)">Eliminar</ion-button>
      <ion-button color="primary" (click)="seleccionarCliente(i)">Editar</ion-button>      
    </ion-card>
  </ion-list>
  </div>
</ion-content>
